<!-- your html code here -->
 <div class="container py-5">


    <h1>Contact</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis facere accusamus fugit, dicta repellendus
        necessitatibus? In impedit reiciendis consequuntur voluptatem eveniet incidunt eius eos ipsa culpa ratione! Vel,
        autem pariatur.</p>
    <div class=" container py-4 bg-light col-9 text-end">
        <form class=" w-80 text-end">
            <div class="row align-item-center mb-3 gap-2">
                <div>
                    <div class="d-flex justify-content-end col-auto gap-5">
                        <label for="inputPassword6" class="col-form-label">Your Email:</label>
                        <div class="col-8">
                           <input type="password" id="inputPassword6" class="form-control col-2" placeholder="Your email"> 
                        </div>
                    </div>
                </div>
                <div class="text-end">
                    <div class="d-flex justify-content-end col-auto gap-5">
                        <label for="inputPassword6" class="col-form-label">Your Message:</label>
                        <div class="col-8">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here...""></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit justify-content-end" class="btn btn-primary">Submit</button>
        </form>
    </div>
 </div>
 
<div class="col-6 text-end">