
<div class="container mt-5">
  <div class="position-relative text-center">

    
    <img src="https://img.freepik.com/foto-gratis/manhattan-skyline_649448-1559.jpg?semt=ais_user_personalization&w=740&q=80"
         class="img-fluid w-100" alt="imagen">

    
    <div class="position-absolute top-50 start-0 w-100 translate-middle-y bg-light bg-opacity-75 py-3">
      <h1 class="text-dark mb-0 ">One Page Wonder</h1>
    </div>

    
    <div class="position-absolute top-50 start-0 w-100 translate-middle-y bg-light bg-opacity-75 py-2 mt-5">
      <p class="text-dark mb-0 fs-5">Will Knock Your Socks Off</p>
    </div>

  </div>
</div>
