
<div class="container-fluid">
  <div class="position-relative text-center d-flex gap-3">

    
    <img src="https://img.freepik.com/foto-gratis/manhattan-skyline_649448-1559.jpg?semt=ais_user_personalization&w=740&q=80"
         class="img-fluid w-100" alt="imagen">

   <div class="position-absolute top-0 start-50 translate-middle-x mt-5 w-100 px-3
                d-flex flex-column gap-4 py-0 m-0">

      <div class="bg-light bg-opacity-75 m-0">
        <h1 class="fw-bold m-0 py-1" style="font-size:140px;">One Page Wonder</h1>
      </div>

      <div class="bg-light bg-opacity-75 m-0">
        <p class="fw-bold m-0 py-0" style="font-size:80px;">Will Knock Your Socks Off</p>
 </div>

   </div>
</div>
