<div class="position-relative text-center">

  <img src="https://img.freepik.com/foto-gratis/manhattan-skyline_649448-1559.jpg?semt=ais_user_personalization&w=740&q=80"
       class="img-fluid w-100"
       style="height: 450px; object-fit: cover;"
       alt="imagen">

  <div class="position-absolute top-50 start-50 translate-middle w-75">
    <div class="bg-light bg-opacity-75 py-3 mb-3">
      <h1 class="display-2 fw-bold mb-0">One Page Wonder</h1>
    </div>

    <div class="bg-light bg-opacity-75 py-2">
      <h3 class="fw-light mb-0">Will Knock Your Socks Off</h3>
    </div>
  </div>

</div>

